.header {
  color: var(--white);
  font-size: 18px;
  line-height: 100%;
}

.header__top {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--black);
}

.header__container,
.header__nav,
.header__menu {
  display: flex;
  align-items: center;
}

.header__container {
  position: relative;
  justify-content: space-between;
}

.header__nav {
  justify-content: space-between;
  width: calc(1250 / 1600 * 100%);
}

.header__menu {
  flex-wrap: wrap;
}

.header__nav-item {
  margin-right: 63px;
}

.header__nav-link {
  font-weight: 600;
}

.header__service-links {
  max-width: 220px;
}

.header__account {
  flex-shrink: 0;
}

.header__account-content {
  display: flex;
  align-items: baseline;
  overflow: hidden;
  transition: padding-left var(--short);
}

.header__account-arrow {
  margin-right: 2px;
  transform: translateX(-4px);
}

.header__account:hover .header__account-content,
.header__account:active .header__account-content {
  padding-left: 4px;
}

.header__bottom {
  background-color: rgba(0, 0, 0, 0.4);
}

.header__bottom-menu {
  display: flex;
  flex-wrap: wrap;
  width: calc(1250 / 1600 * 100%);
}

.header__bottom-item {
  margin-right: 101px;
  padding-top: 24px;
  padding-bottom: 26px;
}

.header__bottom-btn {
  text-align: left;
  color: inherit;
}

.header__bottom-link-text::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 4px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  transform: translateY(calc(-50% + 2px)) rotate(45deg);
}

.header__search {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: calc(251 / 1600 * 100%);
  position: absolute;
  bottom: 0;
  right: var(--container-padding);
  color: var(--white);
  transform: translateY(calc(100% + 30px + 25px));
}

.header__search-input,
.header__search-btn {
  color: inherit;
}

.header__search-input {
  width: calc(218 / 267 * 100%);
  padding: 0;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid var(--white);
  font-family: inherit;
  background-color: transparent;
  transition: border-color var(--short);
}

.header__search-input::placeholder {
  color: inherit;
}

.header__search-input:hover {
  border-color: var(--violet-light);
}

.header__search-input:focus {
  border-color: var(--violet-dark);
  outline: none;
}

.header__search-input:focus::placeholder {
  opacity: 0;
}

.header__search-btn {
  display: flex;
  margin-right: 9px;
}

.header__search-btn::before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
}
