.link {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: color var(--short);
  cursor: pointer;
}

.link::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -3px;
  bottom: -3px;
  background-color: var(--violet-dark);
  transform: scaleX(0);
  transition: transform var(--short);
}

.link:focus {
  outline: none;
}

.link:focus:not(:hover):not(:active):before {
  transform: scaleX(1);
}

.link:hover {
  color: var(--violet-light);
}

.link:active {
  color: var(--violet-dark);
  transition: none;
}

.link__text {
  position: relative;
}
